* {
  font-family: 'Catalina', glyphic-serif;
}

body {
  background-color: #E72115;
  width: 80%;
  margin: auto;
}

h1 {
  color: #000000;
  text-align: center;
  padding: 15px;
  font-size: 300%;
}

form {
  margin-bottom: 20px;
  background-color: #000000;
  margin: auto;
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

p {
  color: #fff;
  width: 55%;
  padding-right: 15px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#input-field,
.submit-btn {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
  font-size: 90%;
  outline: none;
  border: none;
  text-align: center;
}

#input-field::placeholder {
  color: #3b4071;
}

.submit-btn {
  background-color: #E72115;
  color: #fff;
  transition: all 0.5s;
  text-transform: uppercase;
  cursor: pointer;
  padding: 7.5px 35px;
}

.submit-btn:hover {
  background-color: #362256;
  cursor: pointer;
}

#HyunA-images {
  margin: auto;
  width: 700px;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
  grid-template-areas: "HyunA1 HyunA2" "HyunA3 HyunA4";
  background-color: #000000;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
}

#HyunA1, #HyunA2, #HyunA3, #HyunA4 {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#HyunA1 {
  grid-area: HyunA1;
}

#HyunA2 {
  grid-area: HyunA2;
}

#HyunA3 {
  grid-area: HyunA3;
}

#HyunA4 {
  grid-area: HyunA4;
}
